div.main {
    text-align: center;
    font-family: Courier New, Courier, monospace;
}

div.style {
    width: 100%;
    height: auto;
}

div {
  background-image: url('resources/home/homebackground.jpg');
  width: 100%;
  height: auto;
}
