div.main {
    text-align: center;
    font-family: Courier New, Courier, monospace;
}

div {
  background-image: url('https://eclipsem.github.io/resources/home/homebackground.jpg');
  width: 100%;
  height: auto;
}
